# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [37]:
import pandas as pd
import numpy as np
import sys

In [33]:
sys.path.append(r"C:\Users\enrik\Desktop\apuntes")

In [39]:
import functions_for_pd

NameError: name 'pd' is not defined

In [3]:
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"
df = pd.read_csv(url)

In [65]:
df = df.map(lambda x: x.lower().replace(" ", "_") if isinstance(x, str) else x)

In [47]:
pd.set_option("display.max_columns", None)

In [77]:
df

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,0,dk49336,arizona,4809.216960,no,basic,college,2/18/11,employed,m,48029,suburban,married,61,7.0,52,0.0,9,corporate_auto,corporate_l3,offer3,agent,292.800000,four-door_car,medsize,NaN
1,1,kx64629,california,2228.525238,no,basic,college,1/18/11,unemployed,f,0,suburban,single,64,3.0,26,0.0,1,personal_auto,personal_l3,offer4,call_center,744.924331,four-door_car,medsize,NaN
2,2,lz68649,washington,14947.917300,no,basic,bachelor,2/10/11,employed,m,22139,suburban,single,100,34.0,31,0.0,2,personal_auto,personal_l3,offer3,call_center,480.000000,suv,medsize,a
3,3,xl78013,oregon,22332.439460,yes,extended,college,1/11/11,employed,m,49078,suburban,single,97,10.0,3,0.0,2,corporate_auto,corporate_l3,offer2,branch,484.013411,four-door_car,medsize,a
4,4,qa50777,oregon,9025.067525,no,premium,bachelor,1/17/11,medical_leave,f,23675,suburban,married,117,NaN,31,NaN,7,personal_auto,personal_l2,offer1,branch,707.925645,four-door_car,medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,fe99816,nevada,15563.369440,no,premium,bachelor,1/19/11,unemployed,f,0,suburban,married,253,NaN,40,NaN,7,personal_auto,personal_l1,offer3,web,1214.400000,luxury_car,medsize,a
10906,10906,kx53892,oregon,5259.444853,no,basic,college,1/6/11,employed,f,61146,urban,married,65,7.0,68,0.0,6,personal_auto,personal_l3,offer2,branch,273.018929,four-door_car,medsize,a
10907,10907,tl39050,arizona,23893.304100,no,extended,bachelor,2/6/11,employed,f,39837,rural,married,201,11.0,63,0.0,2,corporate_auto,corporate_l3,offer1,web,381.306996,luxury_suv,medsize,NaN
10908,10908,wa60547,california,11971.977650,no,premium,college,2/13/11,employed,f,64195,urban,divorced,158,0.0,27,4.0,6,personal_auto,personal_l1,offer1,branch,618.288849,suv,medsize,a
10909,10909,iv32877,NaN,6857.519928,NaN,basic,bachelor,1/8/11,unemployed,m,0,suburban,single,101,31.0,1,0.0,3,personal_auto,personal_l1,offer4,web,1021.719397,suv,medsize,NaN

In [71]:
df.columns = df.columns.str.lower().str.replace(" ", "_")

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [73]:
print(df.columns)

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type'],
      dtype='object')

In [79]:
df_filtered = df.loc[(df["total_claim_amount"] > 1000) & (df["response"] == "Yes"), ["customer"]]

In [81]:
df_filtered

Empty DataFrame
Columns: [customer]
Index: []

In [ ]:
#if no extra mistake happened, there are no customers whose amount is greater than 1000 and yes as response

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [87]:
df.groupby("policy_type")["total_claim_amount"].mean() # there are no great difference between policy types according to money

policy_type
corporate_auto    429.667426
personal_auto     436.074175
special_auto      440.746794
Name: total_claim_amount, dtype: float64

In [95]:
df_filter1 = df[(df["response"] == "yes")]

In [99]:
df_filter1.groupby("gender")["customer"].count()

gender
f    744
m    722
Name: customer, dtype: int64

In [ ]:
# the conclusion might be that women have more accidents than men, so they make more use of the policy and claim more money (also they probably pay more)

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [103]:
df.groupby("state")["policy"].count()

state
arizona       1937
california    3552
nevada         993
oregon        2909
washington     888
Name: policy, dtype: int64

In [107]:
df_filter2 = df[(df["state"].value_counts) > 500]

TypeError: '>' not supported between instances of 'method' and 'int'

In [133]:
dfstate = df["state"].value_counts()

In [135]:
dfstate2= dfstate[dfstate > 500]

In [137]:
dfstate2

state
california    3552
oregon        2909
arizona       1937
nevada         993
washington     888
Name: count, dtype: int64

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [143]:
df.groupby("education")["customer_lifetime_value"].max()

education
bachelor                73225.95652
college                 61850.18803
doctor                  44856.11397
high_school_or_below    83325.38119
master                  51016.06704
Name: customer_lifetime_value, dtype: float64

In [145]:
df.groupby("education")["customer_lifetime_value"].min()

education
bachelor                1898.007675
college                 1898.683686
doctor                  2267.604038
high_school_or_below    1940.981221
master                  2272.307310
Name: customer_lifetime_value, dtype: float64

In [147]:
df.groupby("education")["customer_lifetime_value"].median()

education
bachelor                5579.380404
college                 5813.629209
doctor                  5423.136755
high_school_or_below    6189.348131
master                  5680.467468
Name: customer_lifetime_value, dtype: float64

In [ ]:
# we can see that more educated people tend to be neutral clients. business wont get much money from them, probably because they have less accidents
# but the minimum charge is higher than others, probably because they have better vehicles
# we can also see that less educated people have a wider range of CLV, which means that they type of people is more sparse and irregular

In [149]:
df.groupby("gender")["customer_lifetime_value"].max()

gender
f    73225.95652
m    83325.38119
Name: customer_lifetime_value, dtype: float64

In [151]:
df.groupby("gender")["customer_lifetime_value"].min()

gender
f    1898.683686
m    1898.007675
Name: customer_lifetime_value, dtype: float64

In [153]:
df.groupby("gender")["customer_lifetime_value"].median()

gender
f    5714.165863
m    5824.224192
Name: customer_lifetime_value, dtype: float64

In [ ]:
# we can here observe that apparently men are more profitable for business according to the max and median

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [155]:
# your code goes here
# first we need to pass the datetime to the spanish one where month is on the second place
df["effective_to_date"] = pd.to_datetime(df["effective_to_date"], errors = "coerce")

C:\Users\enrik\AppData\Local\Temp\ipykernel_17796\2738842615.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["effective_to_date"] = pd.to_datetime(df["effective_to_date"], errors = "coerce")

In [157]:
df

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,0,dk49336,arizona,4809.216960,no,basic,college,2011-02-18,employed,m,48029,suburban,married,61,7.0,52,0.0,9,corporate_auto,corporate_l3,offer3,agent,292.800000,four-door_car,medsize,NaN
1,1,kx64629,california,2228.525238,no,basic,college,2011-01-18,unemployed,f,0,suburban,single,64,3.0,26,0.0,1,personal_auto,personal_l3,offer4,call_center,744.924331,four-door_car,medsize,NaN
2,2,lz68649,washington,14947.917300,no,basic,bachelor,2011-02-10,employed,m,22139,suburban,single,100,34.0,31,0.0,2,personal_auto,personal_l3,offer3,call_center,480.000000,suv,medsize,a
3,3,xl78013,oregon,22332.439460,yes,extended,college,2011-01-11,employed,m,49078,suburban,single,97,10.0,3,0.0,2,corporate_auto,corporate_l3,offer2,branch,484.013411,four-door_car,medsize,a
4,4,qa50777,oregon,9025.067525,no,premium,bachelor,2011-01-17,medical_leave,f,23675,suburban,married,117,NaN,31,NaN,7,personal_auto,personal_l2,offer1,branch,707.925645,four-door_car,medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,fe99816,nevada,15563.369440,no,premium,bachelor,2011-01-19,unemployed,f,0,suburban,married,253,NaN,40,NaN,7,personal_auto,personal_l1,offer3,web,1214.400000,luxury_car,medsize,a
10906,10906,kx53892,oregon,5259.444853,no,basic,college,2011-01-06,employed,f,61146,urban,married,65,7.0,68,0.0,6,personal_auto,personal_l3,offer2,branch,273.018929,four-door_car,medsize,a
10907,10907,tl39050,arizona,23893.304100,no,extended,bachelor,2011-02-06,employed,f,39837,rural,married,201,11.0,63,0.0,2,corporate_auto,corporate_l3,offer1,web,381.306996,luxury_suv,medsize,NaN
10908,10908,wa60547,california,11971.977650,no,premium,college,2011-02-13,employed,f,64195,urban,divorced,158,0.0,27,4.0,6,personal_auto,personal_l1,offer1,branch,618.288849,suv,medsize,a
10909,10909,iv32877,NaN,6857.519928,NaN,basic,bachelor,2011-01-08,unemployed,m,0,suburban,single,101,31.0,1,0.0,3,personal_auto,personal_l1,offer4,web,1021.719397,suv,medsize,NaN

In [159]:
# we have to extract the months from that column
df["month"] = df["effective_to_date"].dt.month

In [182]:
df3 = df.groupby(["state", "month"])["number_of_policies"].sum().unstack()

In [184]:
df3 = df3.rename(columns = {"1" : "january", "2" : "february"})

In [186]:
df3

month          1     2
state
arizona     3052  2864
california  5673  4929
nevada      1493  1278
oregon      4697  3969
washington  1358  1225

In [190]:
df3.columns

Index([1, 2], dtype='int64', name='month')

# 6

In [ ]:
dftop3 = df